*{
    padding: 0;
    margin: 0;

}
header{
    background-color: #566C44;
    height: 80px;
    max-width: 100%;
    position:relative;
}
h1{
    color:white;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 80px;
    background-image: url(image/server-icon.png);
    font-size: 0.8em;
    margin-left: 8px;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position:left;
    width: 105px;
    text-indent:-9999px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
h3{
    color:white;
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 80px;
    font-size: 1em;
    margin-left: -3px;
    opacity: 1;
}
header ul{
    position:absolute;
    right: 0vw;
    top: 0;
    line-height: 80px;
    font-size: 15px;
}
header li{
    display: inline;
    margin-right: 4vw;
    font-size: 15px;
}
header a{
    color: white;
    text-decoration: none;
    opacity: 1;
}
header a:hover{
    text-decoration: underline;
}
.n{
    background-color: #6B8857;
    color: rgb(255, 255, 255);
    height: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}
.n h4{
    font-size: 30px;
    margin:10px 0;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin-bottom: 30px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.n p{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin: 15px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.n a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    border: 1px solid #ece8e8;
    padding:10px 20px;
    border-radius: 5px;
    display: inline;
}
.n a:hover{
    text-decoration: underline;
}

.v{
    max-width: 100%;
    background-color: #Faf2cb;
    color: rgb(89, 89, 89);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
}
.v h4{
    font-size: 1rem;
    margin:10px 0;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 1.5rem;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.v h5{
    font-size: 15px;
    margin:10px 0;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin-bottom: 30px;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.v p{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px; 
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.b{
    background-color: #a7c190;
    color: rgb(105, 103, 103);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
}
.b h4{
    font-size: 1rem;
    margin:10px 0;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 1.5rem;
}
hr{
    animation: fadeIn 2s ease-in forwards;
}
footer {
    background-color: #566C44;
    color: rgb(208, 205, 205);
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
}
.menu {
    display: none;
}
/* 響應式設計語法 */
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }
    header h1 {
        display: none;
    }
    header h3 {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .n h4{
        font-size: 15px;
    }
    .n p{
        font-size: 10px;
    }
    .menu {
        display:block;
        background-color: #566C44;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        border:none;
        cursor:  pointer
    }
    .v{
        height: 120vh;;
    }

}
